.header-text {
    text-align: center;
    font-size: 2rem;
    margin: 10px;
}
.Form{
    width:100%;
}
.selection-options {
    
    width: 100%;
    padding-left: 50%;
}

@media only screen and (max-width: 600px) {
    .selection-options {
        padding-left: 0px;
    }
}
    
