/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.container-layout {
    /*  padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin:auto; */
    display:flex;
    justify-content:center;
   
    width: 100%;
}


