
.custom-filed {
    width: 60px;
    font-size: large;
    color: white;
    border: none;
    background-color: #3f51b5;
    text-align:center;
}
.button-inc-dec {
   margin-right:0px;
}
.price-text {
    text-align: center;
    font-size: 1.5rem;
    color: #808080;
}

@media screen and (max-width: 768px) {
    .ant-modal-content {
        height: 1400px !important; 
    }
    .MuiFab-extended{
        padding:0px !important;
        margin:auto !important;
    }
    .button-inc-dec {
        margin: auto !important;
    }
}

