


.price-text {
    text-align: center;
    font-size: 1.5rem;
    color: #808080;
   
}

@media screen and (max-width: 768px) {
    .ant-modal-content {
        height: 1400px !important; 
    }
   
}

