@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Lobster+Two:ital,wght@1,700&family=Playball&display=swap');
.category {
    //background-color: silver;
    width: 100%;
    height: 350px;
    outline-offset: 1rem;

    .videoTag {
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        position: absolute;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.32); // rgba(247, 249, 249, 0.49) ;
        z-index: 1;
        position: absolute;
    }


    &-header {
        width: 100%;
        height: 100%;
        background: rgba(13, 10, 10, 0.88);
        padding: 0px !important;
        margin: 0px !important;
        position: relative;
        outline-offset: 1rem;

        &:hover {
            outline: 1rem rgba(128, 128, 128, 0.78);
            transform: scale(1.05);
            box-shadow: 0 1rem 3rem  rgba(0, 0, 0, 0.49);
            border:4px solid red;
        }

        .video-header {
            width: 100%;
            height: 100%;
            z-index: 2;
            text-align: center;
            color: black;
            position: absolute;
            //vertical-align: middle;
        }
    }
    /*  &-header2 {
        // padding-top: 30px;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 0px !important;
        margin: 0px !important;
    }

    &-header3 {
        //  padding-top: 30px;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 0px !important;
        margin: 0px !important;
    } */
}

.video-p {
    z-index: 2;
    // text-transform: uppercase;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    display: flex;
    font-size: 2rem;
    //font-style: italic;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/
    padding: 5px;
}
