.cart-header {
    background-color: #424242;
    height: 200px;
    width: 100%;
    margin: 0px;

    

    .text-header {
        font-size: 2rem;
        color: white;
    }

    .text-sub-header {
        font-size: 1rem;
        color: white;
    }
}

.sidecart-close {
    width: 80px;
    height: 80px; 
    color: blue;
    position: fixed;
    bottom: 80px;
    left: 7px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}
.sidecart-close :hover{
    cursor:pointer;
}

.cart-item {
    padding: 5px;
    box-shadow: 0px .5px .5px rgba(128, 128, 128, 0.85);
}

.cart-item:hover {
  
    transform: scaleX(1.1);
}