
.product-back {
    background-color: white;
    margin: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px 3px rgba(225, 218, 218, 0.64);

    .cart-image {
        width: 200px;
        height: 200px;
    }

    .quantity {
        font-size: 1rem;
    }

   
}
