

.side-menu {
    height: 100vh;
    background-color: #f7f1f1;
}

.main-content {
    height: 600px;
    background-color: rgb(243, 238, 233);
}
h1{
    text-align:center;
    color:black;
    font-style:normal;
    font-size:40px;
    margin:auto;
}

.form-wrap {
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.47);
    margin-bottom:40px;
}
